<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Employee_System"
        tools:targetApi="31">
        <activity
            android:name=".BookLeaveActivity"
            android:exported="false" />
        <activity
            android:name=".AdminLeaveActivity"
            android:exported="false" />
        <activity
            android:name=".LeaveRequestAdapter"
            android:exported="false" />
        <activity
            android:name=".ReviewsAdapter"
            android:exported="false" />
        <activity
            android:name=".Reviews"
            android:exported="false" />
        <activity android:name=".AdminHomeActivity" />
        <activity
            android:name=".Feedback"
            android:exported="false" />
        <activity
            android:name=".Note"
            android:exported="false" />
        <activity
            android:name=".EmployeeListAdapter"
            android:exported="false" />
        <activity
            android:name=".EmployeeList"
            android:exported="false" />
        <activity
            android:name=".EmpList"
            android:exported="false" />
        <activity
            android:name=".LeaveManagementActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeEditProfile"
            android:exported="false" />
        <activity
            android:name=".AddEmployee"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Departments"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>